<%= render "shared/errors" if @errors %>

<h2>Edit Usage</h2>
<%= form_for @usage do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :carbon_source_id, "Source" %>
      <%= f.collection_select(:carbon_source_id,
        CarbonSource.all, :id, :name_with_units,
        include_blank: "Please choose a source") %>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :amount_used %>
      <%= f.text_field :amount_used %>
    </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.label :use_reason_id, "Use reason" %>
      <%= f.collection_select(:use_reason_id,
        UseReason.all, :id, :name,
        include_blank: "Please choose a use reason") %>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :start_date %>
      <%= f.text_field :start_date %>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :end_date %>
      <%= f.text_field :end_date %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.label :notes %>
      <%= f.text_area :notes %>
    </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit "Edit usage", class: "button secondary" %>
    </div>
  </div>
<% end %>
