<%= rendor "share/errors" if @errors %>


<div class="row">
  <div class="small-12 columns">
    <h1 class="text-center footprint-header"><%= "Your Carbon Footprint" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <div class="row">
      <div class="small-12 text-center columns">
        <%= link_to "Add personal usage", new_usage_path, class: "button info"%>
      </div>
    </div>
    <div class="row">
      <div class = "small-12 columns">
        <h3 class = "text-center">Entry Overview</h3>
        <% if @usages %>
          <ul class="accordion" data-accordion>
            <% @usages.each do |usage| %>
              <li class="accordion-navigation">
                <%= link_to "#panel#{usage.id}", title: "Usage for time period" do %>
                  <h5><%= "#{usage.display_time_period}:" %></h5>
                  <h5 class="subheader"><%="#{usage.display_emission}" %></h5>
                <% end %>
                <div id=<%= "panel#{usage.id}" %> class="content">
                <h5>Source Info: <span class="subheader">
                  <%= usage.display_source_info_for_usage %>
                </span></h5>
                <h5>Use Reason: <span class="subheader">
                  <%= "#{usage.category}" %>
                </span></h5>
                <h5>Notes: <span class="subheader">
                  <%= "#{usage.notes}" %>
                </span></h5>
                <h6><small>
                  <%= link_to "Edit this entry", edit_usage_path(usage) %>
                  <%= link_to "Delete this entry", usage_path(usage), method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
                </small></h6>
              </div>
            </li>
            <% end  %>
          </ul>
        <% end %>
        <div class="row">
          <div class = "small-12 text-center columns">
            <%= paginate @usages %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 text-center columns sources-link">
        <%= link_to "Sources to track", carbon_sources_path %>
      </div>
    </div>
  </div>

  <div class="small-8 columns">

    <div class="row">
      <div class="small-12 columns">
        <h2>Total Emissions:</h2>
        <h3 class="subheader"><%= "#{@total_emissions} lbs CO2" %></h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div id="chart">
          <%= form_tag usages_path, method: :get do %>
            <div class="row">
              <div class="small-4 columns">
                <%= label_tag :begin_emissions %>
                <%= text_field_tag :begin_emissions %>
              </div>

              <div class="small-4 columns">
                <%= label_tag :end_emissions %>
                <%= text_field_tag :end_emissions %>
              </div>

              <div class="small-4 columns">
                <%= submit_tag "Enter Time Frame", class: "button small success" %>
            </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
