<%= rendor "share/errors" if @errors %>


<div class="row">
  <div class="small-12 columns">
    <h1><%= "#{current_user.email}'s Emissions Overview" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <h3>Entry Overview</h3>
    <% if @usages %>
      <ul class="accordion" data-accordion>
        <% @usages.each do |usage| %>
          <li class="accordion-navigation">
            <%= link_to "#panel#{usage.id}", title: "Total Usage for time" do %>
              <h5><%= "#{usage.display_time_period}:" %></h5>
              <h5 class="subheader"><%="#{usage.display_emission}" %></h5>
            <% end %>
            <div id=<%= "panel#{usage.id}" %> class="content">
            <h5>Source Info: <span class="subheader">
              <%= usage.display_source_info_for_usage %>
            </span></h5>
            <h5>Use Reason: <span class="subheader">
              <%= "#{usage.category}" %>
            </span></h5>
            <h5>Notes: <span class="subheader">
              <%= "#{usage.notes}" %>
            </span></h5>
            <h6><small>
              <%= link_to "Edit this entry", edit_usage_path(usage) %>
              <%= link_to "Delete this entry", usage_path(usage), method: :delete %>
            </small></h6>
          </div>
        </li>
        <% end  %>
      </ul>
    <% end %>

    <%= paginate @usages, remote: true %>
  </div>

  <div class="small-8 columns">
    <div class="row">
      <div class="small-12 columns">
        <h2>Total Emissions:</h2>
        <h3><%= "#{@total_emissions} lbs CO2" %></h3>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div id="chart">
          <h3>Emissions for last 30 days</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= link_to "Add personal usage", new_usage_path %>
      </div>
    </div>
  </div>
</div>
