<%= render 'shared/errors' if @errors %>

<div class="row">
  <div class="small-8 small-centered columns">
    <%= image_tag "grassandtree.jpg", alt:"Pretty outside image" %>
    <hr>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <h4>What are emissions?</h4>
    <p>Carbon emission refers to the carbon dioxide that is released into the
      atmosphere when fossil fuels are burned. Fossil fuels with higher
      carbon content will have higher emissions. Carbon emissions are a driver
      of climate change.</p>
    <hr>
    <h4>Want to learn more?</h4>
    <ul>
      <li><%= link_to "EPA information on emissions",
        "http://www.epa.gov/climatechange/ghgemissions/",
        target: "_blank" %></li>
      <li> <%= link_to "What is carbon footprint?",
        "http://en.wikipedia.org/wiki/Carbon_footprint",
        target: "_blank" %></li>
  </div>

  <div class="small-4 columns">
    <h4>Why track?</h4>
    <p>Tracking your personal emissions (your carbon footprint) can give you insight
      into how your actions may have an impact on the environment. There are two
      kinds of emissions to track: direct and indirect.</p>
    <p><em>Direct emissions</em> are emissions created by sources you
      own or control. For an individual, this would be your car or heating
      your house.</p>
    <p><em>Indirect emissions</em> are emissions created by someone
      else on your behalf. Emissions that would fall into this are the emissions
      created by electricity generation or the production of goods made. For
      the purposes of tracking here, we consider emissions related to the
      purchase of electricity.</p>
  </div>

  <div class="small-4 columns">
    <h4>What's Your Footprint</h4>
    <h5><%= link_to "What we track", carbon_sources_path %><h5>
    <p>Once you are registered, you can enter your usage for the different sources
      of emissions you are responsible for. Information can come from your electric,
      gas, or oil bills. Information will also come from how much gas you use in your
      car.</p>
    <p>When you have new information, log in and click on new personal usage. That's
      where you enter your energy usage. Those emissions will be added to your personal
      total!</p>
  </div>
  <hr>
</div>
