<%= form_for [:admin, @carbon_source] do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :conversion_factor %>
      <%= f.text_field :conversion_factor %>
    </div>

    <div class="small-6 columns">
      <%= f.label :conversion_units %>
      <%= f.text_field :conversion_units %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit "Add new source", class: "button secondary" %>
    </div>
  </div>
<% end %>
