<%= render 'shared/errors' if @errors%>

<h2>Edit <%= @carbon_source.name  %></h2>

<%= form_for [:admin, @carbon_source] do |f| %>

  <%= f.label :conversion_factor %>
  <%= f.text_field :conversion_factor %>

  <%= f.label :conversion_units %>
  <%= f.text_field :conversion_units %>

  <%= f.submit "Edit Source"  %>
<% end %>
