<%= render 'shared/errors' if @errors%>

<h2>Edit Carbon Source  %></h2>

<%= form_for [:admin, @carbon_source] do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :conversion_factor %>
      <%= f.text_field :conversion_factor %>
    </div>

    <div class="small-6 colums">
      <%= f.label :units %>
      <%= f.text_field :units %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit "Edit source", class: "button secondary" %>
    </div>
  </div>
<% end %>
