<%= render 'shared/errors' if @errors %>

<div class="row">
  <div class="small-4 columns">
    <h2>Add New Carbon Source</h2>
    <%= render 'new' %>
  </div>

  <div class="small-8 columns">
    <h2>All Sources</h2>
    <% if @carbon_sources %>
        <% @carbon_sources.each do |carbon_source| %>
          <div class="panel hide-for-small">
            <h3><%= "#{carbon_source.name}" %></h2>
            <h5>Conversion:
              <span class="subheader">
                <%= "#{carbon_source.conversion_factor} #{carbon_source.conversion_units}" %>
              </span>
            </h5>
            <h5>Source:
              <span class="subheader">
                <%= link_to "#{carbon_source.citation}", carbon_source.citation_url, target: "_blank" %>
              </span>
            </h5>
            <h6><small>
              <%= link_to "Edit #{carbon_source.name}", edit_admin_carbon_source_path(carbon_source) %>
            </small></h6>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
