<!DOCTYPE html>
<html>
<head>
  <title>CarbonFootprint</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "What's Your Footprint?", root_path %></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="has-dropdown" id="admin-home">
          <% if current_user.try(:admin?) %>
            <a href="#">Admin</a>
            <ul class="dropdown">
              <li><%= link_to "Carbon Sources", admin_carbon_sources_path %></li>
              <li><%= link_to "Use Reasons", admin_use_reasons_path %></li>
            </ul>
          <% end %>
        </li>
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div data-alert="" class="alert-box secondary">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
